{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Edit Meeting{% else %}Add Meeting{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
    
</head>

<body>
    <div class="container">
        <h1>{% if form.instance.pk %}Edit Meeting{% else %}Add Meeting{% endif %}</h1>
        <div class="form">
            <form method="post" enctype="multipart/form-data"> <!-- Include enctype for file uploads -->
                {% csrf_token %}
                <fieldset>
                    <legend>Meeting Details</legend>
                    {{ form.as_p }}
                </fieldset>
                <fieldset>
                   
                </fieldset>
                <img id="image-preview" src="" alt="Image Preview">
                <div class="inputBox">
                    <input type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Update image preview when a file is selected
            $('#id_image').on('change', function(e) {
                var fileInput = e.target;
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#image-preview').attr('src', e.target.result).show();
                    }
                    reader.readAsDataURL(fileInput.files[0]);
                }
            });
        });
    </script>
</body>

</html>

