{% extends "admin-sidebar.html" %}
{% load static %}
{% block content %}

<a href="{% url 'add_meeting' %}" class="btn btn-primary mb-4">Add Meeting</a>

<div class="container">
    <h1 class="mb-4">Meeting List</h1>
    <div class="row">
        {% for meeting in meetings %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                
                <img class="card-img-top" src="{{ meeting.images.url }}" alt="meeting image">
                
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ meeting.name }}</h5>
                    <p class="card-text">{{ meeting.description }}</p>
                    <p><strong>Date:</strong> {{ meeting.date }}</p>
                    <p><strong>Time:</strong> {{ meeting.time }}</p>
                    <a href="{% url 'edit_meeting' meeting.id %}" class="btn btn-primary mt-auto">Edit</a>
                    <a href="{% url 'delete_meeting' meeting.id %}" class="btn btn-danger mt-2">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
