<!-- In your Django app's templates/events/meeting_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting List</title>
</head>
<body>
    <h1>Meeting List</h1>
    <ul>
        {% for meeting in meetings %}
            
            <div class="col-md-4">
                <li>{{ meeting.name }} - {{ meeting.date }} at {{ meeting.time }} - {{ meeting.location }}</li>
                <img src="{{ meeting.images.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
        </div>
            {% endfor %}
    </ul>
    <a href="{% url 'add_meeting' %}">Add Meeting</a>
</body>
</html>
