{% extends 'admin-sidebar.html' %}
{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="text-center">{% if member %}Edit Member{% else %}Add Member{% endif %}</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                        </div>
                        <div class="mb-3">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <div class="mb-3">
                            {{ form.phone_number.label_tag }}
                            {{ form.phone_number }}
                        </div>
                        
                        <div class="mb-3">
                            {{ form.address.label_tag }}
                            {{ form.address }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">{% if member %}Update{% else %}Add{% endif %}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}