{% extends "admin-sidebar.html" %}

{% block content %}
<style>
    .fa {
        color: blue;
    
    }
</style>
<div class="container-fluid">
    <div class="main-content-inner">
        <!-- sales report area start -->
        <div class="sales-report-area mt-5 mb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-report mb-xs-30">
                        <div class="s-report-inner pr--20 pt--30 mb-3">
                            <div class="icon"><i class="fa fa-id-card "></i></div>
                            <div class="s-report-title d-flex justify-content-between">
                                <h4 class="header-title mb-0">Members</h4>
                            </div>
                            <div class="d-flex justify-content-between pb-2">
                                <h1>{{ member_count }}</h1>
                                <span>Registered Members</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-report mb-xs-30">
                        <div class="s-report-inner pr--20 pt--30 mb-3">
                            <div class="icon"><i class="fa fa-users"></i></div>
                            <div class="s-report-title d-flex justify-content-between">
                                <h4 class="header-title mb-0">Volunteers</h4>
                            </div>
                            <div class= "d-flex justify-content-between pb-2">
                                <h1>{{ volunteers_count }}</h1>
                                <span>Current Volunteers</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-report">
                        <div class="s-report-inner pr--20 pt--30 mb-3">
                            <div class="icon"><i class="fa fa-calendar "></i></div>
                            <div class="s-report-title d-flex justify-content-between">
                                <h4 class="header-title mb-0">Events</h4>
                            </div>
                            <div class="d-flex justify-content-between pb-2">
                                <h1> {{ events_count }}</h1>
                                <span>All Events</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="single-report mb-xs-30">
                        <div class="s-report-inner pr--20 pt--30 mb-3">
                            <div class="icon"><i class="fa fa-th-large"></i></div>
                            <div class="s-report-title d-flex justify-content-between">
                                <h4 class="header-title mb-0">Groups</h4>
                            </div>
                            <div class="d-flex justify-content-between pb-2">
                                <h1> {{ groups_count }}</h1>
                                <span>Active Groups</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-report mb-xs-30">
                        <div class="s-report-inner pr--20 pt--30 mb-3">
                            <div class="icon"><i class="fa fa-bars"></i></div>
                            <div class="s-report-title d-flex justify-content-between">
                                <h4 class="header-title mb-0">Service</h4>
                            </div>
                            <div class="d-flex justify-content-between pb-2">
                                <h1>{{ services_count }}</h1>
                                <span>service</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-report">
                        <div class="s-report-inner pr--20 pt--30 mb-3">
                            <div class="icon"><i class="fa fa-map-marker "></i></div>
                            <div class="s-report-title d-flex justify-content-between">
                                <h4 class="header-title mb-0">Headquater and Branches</h4>
                            </div>
                            <div class="d-flex justify-content-between pb-2">
                                <h1>{{ location_count }}</h1>
                                <span>Our locations</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
