{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>Sidebar 05</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/typography.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/side.css' %}">

  <style>
    .resized {
            width: 40%; 
            height: auto; 
        }
  </style>
</head>
<body>
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
      <div class="p-4">
        <center>
        <img src="{% static 'images/church.jpg' %}" alt="Edit" class="resized">
      </center>
          <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="{% url 'admin_dashboard' %}"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="{% url 'service_list' %}"><span class="fa fa-user mr-3"></span> Service</a>
          </li>
          <li>
            <a href="{% url 'event_list' %}"><span class="fa fa-briefcase mr-3"></span> Events</a>
          </li>
          <li>
            <a href="{% url 'member_list' %}"><span class="fa fa-sticky-note mr-3"></span> Members</a>
          </li>
          <li>
            <a href="{% url 'group_list' %}"><span class="fa fa-suitcase mr-3"></span> Groups</a>
          </li>
          <li>
            <a href="{% url 'location_list' %}"><span class="fa fa-cogs mr-3"></span> Location</a>
          </li>
          <li>
            <a href="{% url 'contact_list' %}"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
          </li>
        </ul>
        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart" aria-hidden="true"></i> 
            
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
